h1 {
    font-family: "Archivo Black", sans-serif;
    text-align: center;
    color: #00F2FF;
    margin-top: 100px;
    font-size: 72px;
    text-shadow: 0 0 30px #00F2FF;
}
.labels {
    font-family: "Archivo Black", sans-serif;
    color: #00F2FF;
    font-size: 24px;
    display: block;
    margin-top: 20px;
    text-align: center;
}

.inputs,.buttons {
    align-items: center;
    display: block;
    margin: 0 auto;
}

body {
    background-color: black
}

.logo {
    align-items: center;
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    box-shadow: none;
    filter:
    drop-shadow(0 0 24px #F200FF);
}

