h1 {
    font-family: "Archivo Black", sans-serif;
    text-align: center;
    color: #00F2FF;
    margin-top: 50px;
    font-size: 72px;
    text-shadow: 0 0 30px #00F2FF;
}

p {
    font-family: "Archivo Black", sans-serif;
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 24px;
}

.labels {
    font-family: "Archivo Black", sans-serif;
    color: #00F2FF;
    font-size: 24px;
    display: block;
    margin-top: 20px;
    text-align: center;
}

.inputs,.buttons {
    align-items: center;
    display: block;
    margin: 0 auto;
}

body {
    background-color: black
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    filter:
    drop-shadow(0 0 24px #F200FF);
}

.inputs {
  border: 2px solid #00F2FF;
  border-radius: 10px;
  text-align: center;
}

.buttons {
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #00F2FF;
}